


.menu {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.icons-social {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}



.icons-social img {
  width: 1rem;
  margin-right: 0.6rem;
  padding-bottom: 0.3rem;

}

.icons-social img:hover {
  border-bottom: 0.05rem solid black;

}


h1 {
font-family: 'Roboto', sans-serif;
font-size: 3.3rem;
position: absolute;
top: 15rem;
left: 2rem;
width: 30rem;
animation-name: h1;
animation-duration: 1.2s;
animation-delay: 0.5s;
animation-direction: alternate;
animation-fill-mode: backwards;
}

canvas {
  position: absolute;
  top: 35rem;
  animation-name: h1;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

@keyframes h1 {
0%   {opacity: 0%; }
  100% {opacity: 100%;}
}


@keyframes background {
0%   {opacity: 0%; }
  100% {opacity: 0%;}
}


.logo {
  margin-left: 2rem;
  margin-top: 2rem;
}


.logo1 {
  animation-name: example;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  width: 5rem;
}

ul {
  list-style-type: none;
  position: absolute;
  top: 3.5rem;
  right: 5rem;
  padding: 0;
  overflow: hidden;
}



li a {
  display: block;
color: black;
text-align: center;
padding: 17px 20px;
padding-right: 1rem;
text-decoration: none;
font-family: 'Space Mono', monospace;
font-size: 0.9rem;
}

li a:hover {
  background-image: url(background.png);
}

li {
  float: left;
}


@keyframes example {
0%   {width: 100rem;  }
  100% {width: 5rem;}
}

@keyframes background {
0%   {width: 300rem;background-image: url(background.png);opacity: 100rem;  }
100% {width: 5rem;background-image: url(background.png);opacity: 0rem; }
}










@supports (grid-area: auto) {
  @media (min-width: 900px) {


  }
}


@supports (grid-area: auto) {

@media (min-width: 1200px) {

body {

}



  h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  position: absolute;
  top: 15rem;
  left: 4rem;
  width: 60rem;
  animation-name: h1;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  }

  canvas {
    position: absolute;
    top: 35rem;
    animation-name: h1;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }

  .icons-social {
    position: absolute;
    top: 3rem;
    right: 4rem;
  }



  .icons-social img {
    width: 1rem;
    margin-right: 0.6rem;
    padding-bottom: 0.3rem;

  }

  .icons-social img:hover {
    border-bottom: 0.05rem solid black;

  }



  @keyframes h1 {
  0%   {opacity: 0%; }
    100% {opacity: 100%;}
  }


  @keyframes background {
  0%   {opacity: 0%; }
    100% {opacity: 0%;}
  }


  .logo {
    margin-left: 4rem;
    margin-top: 2rem;
  }



  .logo1 {
    animation-name: example;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    width: 5rem;
  }

  ul {
    list-style-type: none;
    position: absolute;
    top: 2rem;
    right: 15rem;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
  color: black;
  text-align: center;
  padding: 17px 20px;
  padding-right: 2rem;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  }

  li a:hover {
    background-image: url(background.png);
  }

  li {
    float: left;
  }


  @keyframes example {
  0%   {width: 100rem;  }
    100% {width: 5rem;}
  }

  @keyframes background {
  0%   {width: 300rem;background-image: url(background.png);opacity: 100rem;  }
  100% {width: 5rem;background-image: url(background.png);opacity: 0rem; }
  }
  }

.icons {
  position: absolute;
  left: 42rem;
  top: 41.5rem;
  width: 4rem;
  animation-name: h1;
  animation-duration: 1.2s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.text {
  position: absolute;
  left: 42.2rem;
  top: 43rem;
  font-family: 'Space Mono', monospace;
  font-size: 0.7rem;
  animation-name: h1;
  animation-duration: 1.2s;
  animation-delay: 1.4s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.text a {
  text-decoration: none;
  color: black;
}

.home_portfolio {
  position: absolute;
  top: 50rem;
}

.gallery  p {
  position: absolute;
  top: 27rem;
  left: 80rem;
  font-family: roboto;
}

.gallery  p:hover {
  position: absolute;
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.gallery a {
  color: black;
}

.gallery2 p {
  position: absolute;
  top: 70rem;
  left: 80rem;
  font-family: roboto;
}

.gallery2  p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.gallery2 a {
  color: black;
}

.design p {
  position: absolute;
  top: 110rem;
  left: 80rem;
  font-family: roboto;
}

.design  p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design a {
  color: black;
}

.design2 p {
  position: absolute;
  top: 150rem;
  left: 80rem;
  font-family: roboto;
}

.design2 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design2 a {
  color: black;
}

.design3 p {
  position: absolute;
  top: 193rem;
  left: 80rem;
  font-family: roboto;
}

.design3 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design3 a {
  color: black;
}

.design4 p {
  position: absolute;
  top: 283rem;
  left: 80rem;
  font-family: roboto;
}

.design4 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design4 a {
  color: black;
}

.design5 p {
  position: absolute;
  top: 318rem;
  left: 80rem;
  font-family: roboto;
}

.design5 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design5 a {
  color: black;
}

.design6 p {
  position: absolute;
  top: 352rem;
  left: 80rem;
  font-family: roboto;
}

.design6 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design6 a {
  color: black;
}

.design7 p {
  position: absolute;
  top: 385rem;
  left: 80rem;
  font-family: roboto;
}

.design7 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design7 a {
  color: black;
}

.design8 p {
  position: absolute;
  top: 430rem;
  left: 80rem;
  font-family: roboto;
}

.design8 p:hover {
  font-family: roboto;
  border-bottom: 0.1rem solid black;
}

.design8 a {
  color: black;
}








.gallery  .rebranding  {
  width: 40rem;
margin-left: 20rem;
transition: transform 0.1s;
}

.gallery .halo img:hover {
   transform: translate(20px, 20px);
}

.gallery2 {
  display: grid;
  margin-top: 10rem;
  margin-left: 27rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery2 img {
  width: 20rem;
  transition: transform 0.1s;
}

.posters{
  font-family: 'Yatra One', cursive;
  font-weight: 400;
  font-size: 3rem;
  width: 20rem;
  position: absolute;
  top: 40rem;
  left: 10rem;
  transition: transform 0.1s;
}

.vorm2 {
  width: 20rem;
position: absolute;
left: 10rem;
top: 40rem;
transition: transform 0.1s;
opacity: 50%;
}

.gallery3 {
  display: grid;
  grid-template-columns: 20rem 20rem;
  margin-top: 15rem;
  margin-left: 4rem;
}

.gallery3 img {
  top: 100rem;
  width: 20rem;
  margin-right: 0;
}

.gallery3 img:last-child {
  width: 30rem;
}
.jaar {
  width: 20rem;
  position: absolute;
  top: 11rem;
  left: 45rem;
}

.jaar2 {
  width: 20rem;
  position: absolute;
  top: 56rem;
  left: 6rem;
}

.jaar3 {
  width: 20rem;
  position: absolute;
  top: 91rem;
  left: 56rem;
}

.jaar4 {
  width: 20rem;
  position: absolute;
  top: 126rem;
  left: 6rem;
}

.jaar5 {
  width: 17rem;
  position: absolute;
  top: 170rem;
  left: 60rem;
}

.jaar6 {
  width: 20rem;
  position: absolute;
  top: 215rem;
  left: 38rem;
}

.gallery4 {
  margin-left: 27rem;
  margin-top: 15rem;
}

.gallery4 img:first-child {
  width: 40rem;
  margin-right: 3rem;
}

.gallery4 img:last-child {
  width: 13.75rem;
}

.gallery5 {
  margin-left: 4rem;
  margin-top: 15rem;
  grid-template-columns: 20rem 20rem 20rem;
  display: grid;
}

.gallery5 img {
  width: 15rem;
}

.gallery6 {
  margin-left: 58rem;
  margin-top: 15rem;
}

.gallery6 img {
  width: 25rem;

}

.gallery7 {
  margin-left: 5rem;
  margin-top: 285rem;
  position: absolute;
}

.gallery7 img {
  width: 40rem;
}

.jaar7 {
  position: absolute;
  margin-left: 55rem;
  margin-top: 296rem;
  width: 20rem;
}

.gallery8 {
  margin-left: 30rem;
  margin-top: 320rem;
  position: absolute;
}

.gallery8 img {
  width: 26rem;
}

.jaar8 {
  position: absolute;
  margin-left: 5rem;
  margin-top: 327rem;
  width: 20rem;
}


.gallery9 {
  margin-left: 4rem;
  margin-top: 355rem;
  position: absolute;
}

.gallery9 img {
  width: 60rem;
}

.jaar9 {
  position: absolute;
  margin-left: 65rem;
  margin-top: 364rem;
  width: 20rem;
}

.gallery10 {
  margin-left: 35rem;
  margin-top: 390rem;
  position: absolute;
}

.gallery10 img {
  width: 50rem;
}

.jaar10 {
  position: absolute;
  margin-left: 5rem;
  margin-top: 399rem;
  width: 20rem;
}



#container {
  margin: 0%;
  margin-top: 40rem;
  margin-left: 20rem;
}

#circle {
  position: relative;
  width: 50%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-left: 18rem;
}

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 17px; font-weight: bold; }

#circle svg { position: absolute; : 100; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

#container2 {
  margin: 0%;
  margin-top: -25rem;
  margin-left: -30rem;
}

#circle2 {
  position: relative;
  width: 50%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle2 text {font-family: 'Helvetica Neue', Arial; font-size: 19.5px; font-weight: bold;  }

#circle2 svg { position: absolute; left: 16rem; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}


#container3 {
  margin: 0%;
  margin-top: -85rem;
  margin-left: 50rem;

}

#circle3 {
  position: relative;
  width: 80%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle3 text {font-family: 'Helvetica Neue', Arial; font-size: 17.5px; font-weight: bold;  }

#circle3 svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}

#container4 {
  margin: 0%;
  margin-top: -5rem;
  margin-left: -34rem;

}

#circle4 {
  position: relative;
  width: 80%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle4 text {font-family: 'Helvetica Neue', Arial; font-size: 18px; font-weight: bold;  }

#circle4 svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}

#container5 {
  margin: 0%;
  margin-top: -80rem;
  margin-left: 54rem;

}

#circle5 {
  position: relative;
  width: 80%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle5 text {font-family: 'Helvetica Neue', Arial; font-size: 17px; font-weight: bold;  }

#circle5 svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}


#container6 {
  margin: 0%;
  margin-top: 10rem;
  margin-left: 20rem;

}

#circle6 {
  position: relative;
  width: 80%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle6 text {font-family: 'Helvetica Neue', Arial; font-size: 16.5px; font-weight: bold;  }

#circle6 svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}


#circle7 text {font-family: 'Helvetica Neue', Arial; font-size: 13.8px; font-weight: bold;  }

#circle7 svg { position: absolute; left: 20rem; top: 287rem; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}


#circle8 text {font-family: 'Helvetica Neue', Arial; font-size: 17.5px; font-weight: bold;  }

#circle8 svg { position: absolute; left: -30rem; top: 318rem; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}

#circle9 text {font-family: 'Helvetica Neue', Arial; font-size: 15.2px; font-weight: bold;  }

#circle9 svg { position: absolute; left: 62rem; top: 355rem; width: 30%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}


#circle10 text {font-family: 'Helvetica Neue', Arial; font-size: 13.3px; font-weight: bold;  }

#circle10 svg { position: absolute; left: -30rem; top: 390rem; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}






.aboutleft {
  position: absolute;
  top: 3rem;
}


.about {

  animation-name: about;
  animation-duration: 1.2s;
  animation-delay: 0.8s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 10rem;
  left: 4rem;
    width: 30rem;

}

@keyframes about {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about2 {

  animation-name: about2;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 12rem;
  left: 4rem;
  width: 30rem;
}

@keyframes about2 {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about3 {
  animation-name: about3;
  animation-duration: 1.2s;
  animation-delay: 1.8s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 14rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about3 {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about4 {
  animation-name: about4;
  animation-duration: 1.2s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 16rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about4 {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about5 {
  animation-name: about5;
  animation-duration: 1.2s;
  animation-delay: 2.2s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 18rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about5 {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about6 {
  animation-name: about6;
  animation-duration: 1.2s;
  animation-delay: 2.4s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 20rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about6 {
    from { opacity:0%; }
    to { opacity:100%; }
}


.about7 {
  animation-name: about7;
  animation-duration: 1.2s;
  animation-delay: 2.6s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 22rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about7 {
    from { opacity:0%; }
    to { opacity:100%; }
}

.about8 {
  animation-name: about8;
  animation-duration: 1.2s;
  animation-delay: 2.8s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 24rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about8 {
    from { opacity:0%; }
    to { opacity:100%; }
}


.about9 {
  animation-name: about9;
  animation-duration: 1.2s;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 26rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about9 {
    from { opacity:0%; }
    to { opacity:100%; }
}


.about10 {
  animation-name: about10;
  animation-duration: 1.2s;
  animation-delay: 3.2s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 28rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about10 {
    from { opacity:0%; }
    to { opacity:100%; }
}


.about11 {
  animation-name: about11;
  animation-duration: 1.2s;
  animation-delay: 3.4s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  top: 30rem;
  width: 30rem;
  left: 4rem;

}

@keyframes about11 {
    from { opacity:0%;  }
    to { opacity:100%; }
}




.aboutright p {
  font-size: 4rem;
  font-family: roboto;
  position: absolute;
  left: 40rem;
  top: 13rem;
  animation-name: right1;
  animation-duration: 1.2s;
  animation-delay: 4s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  width: 48rem;
}

@keyframes right1 {
    from { opacity:0%; }
    to { opacity:100%; }
}


.aboutright .find {
  font-size: 4rem;
  font-family: roboto;
  position: absolute;
  left: 40rem;
  top: 20rem;
  animation-name: right1;
  animation-duration: 1.2s;
  animation-delay: 4.8s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  width: 45rem;
}

.aboutright .find2 {
  font-size: 4rem;
  font-family: roboto;
  position: absolute;
  left: 40rem;
  top: 39rem;
  animation-name: right1;
  animation-duration: 1.2s;
  animation-delay: 5.6s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  position: absolute;
  width: 45rem;
}


footer p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 440rem;
  padding-bottom: 5rem;
  left: 39rem;
}


.galleryrebranding .halo a .rebranding  {
  width: 40rem;
margin-left: 0rem;
margin-top: 5rem;
transition: transform 0.1s;
}

.galleryrebranding img {
  width: 30rem;
}


.jaarrebranding {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 25rem;
  right: -8rem;
}

.jaarrebranding2 {
  transform: rotate(90deg);
  position: absolute;
  top: 55rem;
  right: -8rem;
  width: 30rem;
}

.jaarrebranding3 {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 87rem;
  right: -8rem;
}

.jaarrebranding4 {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 117rem;
  right: -8rem;
}

.jaarrebranding5 {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 150rem;
  right: -8rem;
}

.jaarrebranding6 {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 180rem;
  right: -8rem;
}

.jaarrebranding7 {
  width: 30rem;
  transform: rotate(90deg);
  position: absolute;
  top: 213rem;
  right: -8rem;
}

.galleryrebranding p {
  width: 35rem;
  position: absolute;
  top: 25rem;
  left: 40rem;
  font-family: Roboto;
}

.galleryrebranding h1 {
  width: 35rem;
  position: absolute;
  top: 12rem;
  left: 40rem;
  font-family: Roboto;
}

.brandguide .cover {
  width: 50rem;
  margin-left: 15rem;
}

.brandguide .second {
  width: 65rem;
  margin-left: 8rem;
}

.brandguide .third {
  width: 65rem;
  margin-left: 8rem;
  margin-top: 0;
}

.brandguide .four {
  width: 65rem;
  margin-left: 8rem;
  margin-top: 4rem;
}

.brandguide .five {
  width: 65rem;
  margin-left: 8rem;
  margin-top: 4rem;
}

.footer_rebranding p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 205rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_film p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 110rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.own p {
  width: 35rem;
  position: absolute;
  top: 25rem;
  left: 40rem;
  font-family: Roboto;
}

.own h1 {
  width: 35rem;
  position: absolute;
  top: 12rem;
  left: 40rem;
  font-family: Roboto;
}

.images {
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 5rem;
  margin-left: 4rem;
}

.images img {
  width: 30rem;
}

.footer_own p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 140rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.arte p {
  width: 35rem;
  position: absolute;
  top: 25rem;
  left: 40rem;
  font-family: Roboto;
}

.arte h1 {
  width: 35rem;
  position: absolute;
  top: 12rem;
  left: 40rem;
  font-family: Roboto;
}

.images2 {
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 5rem;
  margin-left: 4rem;
}

.images2 img {
  width: 30rem;
}

.images2 .front {
  width: 28rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.footer_arte p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 170rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.images3 {
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 5rem;
  margin-left: 4rem;
}

.images3 img {
  width: 30rem;
  padding-bottom: 2rem;
}



.images4 video {
  padding-bottom: 2rem;
}

.images4 {
  grid-template-columns: 1fr;
  display: grid;
  margin-top: 5rem;
  margin-left: 4rem;
}

.images4 img {
  width: 20rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
}

.artwork p {
  width: 35rem;
  position: absolute;
  top: 20rem;
  left: 40rem;
  font-family: Roboto;
}

.artwork h1 {
  width: 35rem;
  position: absolute;
  top: 12rem;
  left: 40rem;
  font-family: Roboto;
}

.footer_eventdesign p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 90rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_usability p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 140rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_shapes p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 50rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_mack p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 230rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_motion p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 215rem;
  padding-bottom: 5rem;
  left: 39rem;
}

.footer_magazine p {
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  position: absolute;
  top: 170rem;
  padding-bottom: 5rem;
  left: 39rem;
}




.mack  {
  width: 30rem;
  margin-top: 5rem;
  margin-left: 4rem;
  position: absolute;
}

.mack2 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 35rem;
}

.mack3 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 10rem;
}

.mack4 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 20rem;
}

.mack4 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 30rem;
}

.brandguide3 .video1 {
  margin-top: 45rem;
  margin-left: 25rem;
}

.brandguide3 .video2 {
  margin-top: 2rem;
  margin-left: 25rem;
}

.brandguide3 .video3 {
  margin-top: 2rem;
  margin-left: 25rem;
}

.brandguide3 .video4 {
  margin-top: 8rem;
  margin-left: 25rem;
}


.magazine3 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 45rem;
}


.magazine4 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 5rem;
}

.magazine5 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 5rem;
}





































}
